.main-container {
  margin-top: 20px;
  max-height: 128px;
}

.red-microphone {
  color: #d44916;
}

.green-microphone {
  color: #14A76C;
}

.fa-volume-up {
  color: gold;
}

.fa-volume-up:hover {
  color: darkgoldenrod;
}

.fa-volume-mute {
  color: white;
}

.fa-volume-mute:hover {
  color: beige;
}

.fa-file-audio {
  color: #FF652F;
}

.fa-file-audio:hover {
  color: #d44916;
}

.output-display {
  background-color: #383b4b;
  max-height: 128px;
  overflow-y: auto;
}

.fas, .fa {
  cursor: pointer;
}

.background {
  background-color: #272727;
  color: #747474;
}

.pic-container {
  width: 100%;
  display: grid;
  place-items: center;
}

.virtual-partner-jpg {
  height: 520px;
  margin-top: 20px;
}
