.main-container {
  max-height: 800px;
}

.red-microphone {
  color: #d44916;
}

.blue-microphone {
  color: #0a0aff;
}

.fa-volume-up {
  color: gold;
}

.fa-volume-up:hover {
  color: darkgoldenrod;
}

.fa-volume-mute {
  color: white;
}

.fa-volume-mute:hover {
  color: beige;
}

.fa-file-audio {
  color: #FF652F;
}

.fa-file-audio:hover {
  color: #d44916;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.output-display {
  background-color: #383b4b;
  max-height: 500px;
  overflow-y: auto;
}

.fas, .fa {
  cursor: pointer;
}

.background {
  background-color: #272727;
  color: #747474;
}

.virtual-partner-jpg {
  height: 520px;
  margin-top: 20px;
}
